footer {
    font-family: poppins;
    /* background: url("../../assets/Footer Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; */
}

.bounce2 {
    animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}